.Weather {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
}
.Weather ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.Weather .weather-details {
  display: flex;
}
.Weather .icon {
  padding-right: 0;
}
.Weather .temp {
  font-size: 48px;
  line-height: 56px;
  font-family: Google Sans, arial, sans-serif;
}
.Weather .unit {
  position: relative;
  top: -16px;
  font-family: arial, sans-serif;
  color: #e8eaed;
  font-size: 16px;
  line-height: 24px;
}
.Weather .unit a {
  color: #e8eaed;
  text-decoration: none;
}

.Weather .detail-list {
  position: relative;
  top: -3px;
  align-self: center;
  font-size: 12px;
  padding-left: 12px;
  color: #96a0a6;
}
.Weather .city {
  text-align: end;
  color: #e8eaed;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
}
.Weather .city ul {
  color: #9aa0a6;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.Weather h2 {
  font-size: 48px;
  line-height: 56px;
  display: inline;
  font-weight: 400;
}
.Weather .city h3 {
  margin: 0;
  font-size: 22px;
}
.Weather .weather-menu {
  display: flex;
}
.Weather .weather-menu-item {
  color: #bdc1c6;
  font-size: 14px;
  line-height: 1.58;
  cursor: pointer;
}
.Weather .weather-menu-item:visited {
  border-bottom: 3px solid #fdd663;
  cursor: default;
  padding-bottom: 4px;
}
.Weather .weather-menu-border {
  border-left: 1px solid #3c4043;
  margin: 0 11px;
}
